<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.ibm.db2.jcc.DB2Driver</property>
		<property name="hibernate.connection.url">jdbc:db2://dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB</property>
		<property name="hibernate.connection.password">v45lkfkv3mzk@86k</property>
		<property name="hibernate.connection.username">pxz44922</property>
		<property name="hibernate.dialect">org.hibernate.dialect.DB2Dialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">
			org.hibernate.context.internal.ThreadLocalSessionContext
		</property>
		<property name="hibernate.default_schema">PXZ44922</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping resource="UserDetails.hbm.xml"></mapping>
		<mapping resource="ProviderDetails.hbm.xml"></mapping>
		<mapping resource="ServiceDetails.hbm.xml"></mapping>
		<mapping resource="ServiceMapping.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>